<div class="baground">
<div class="card mx-auto" style="width: 18rem;">
    <img src="../../../assets/deva-falcon.png" class="card-img-top" alt="...">
</div>

<div class="row mb-4">
  <div class="col-md-6 welcome mx-auto">
    <h1><i>WELCOME TO <span style="color: red;">DEVA</span></i></h1>
    <p>We're passionate about helping you achieve your fitness goals and live a healthy.</p>
  </div>
</div>

<h2 class="mb-4 welcome">Our Facilities</h2>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 10px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="9" aria-label="Slide 10"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="10" aria-label="Slide 11"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/tradmil.jpg" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/gym-cycle.jpg" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/back1.webp" class="d-block w-100" alt="Slide 3">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/back2.jpg" class="d-block w-100" alt="Slide 4">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/back3.webp" class="d-block w-100" alt="Slide 5">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/cable.jpg" class="d-block w-100" alt="Slide 6">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/chest1.jpg" class="d-block w-100" alt="Slide 7">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/legpress.webp" class="d-block w-100" alt="Slide 8">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/chest3.webp" class="d-block w-100" alt="Slide 9">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/leg1.jpg" class="d-block w-100" alt="Slide 10">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/leg2.jpg" class="d-block w-100" alt="Slide 11">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <p class="mb-0" style="color: white; text-align: center;">Whether you're a beginner or a seasoned athlete, we have everything you need to reach your fitness goals. Come visit us today!</p>
</div>